* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Kanit', sans-serif;
    scrollbar-color: red;
    overflow: -moz-scrollbars-vertical;
    overflow-y: scroll;
}

body.active-modal {
    overflow-y: hidden;
}

h1 {
    font-size: 2rem;
    color: white;
}

.placeHolder{
   height: 90vh;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    color: white;
    position: relative;

}

/* NAVBAR  */
.navBar{
height: auto;
width: auto;
background-color: black;
padding: 1% 10% 1% 1%; 
}

.navWrap{
    display: flex;
    justify-content: space-between;
}

.netPicks{
    margin: 0 0 0 10%;
    letter-spacing: 0.75rem;
    color: red;
}

.list {
    display: flex;  
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    margin: 0;
}

.listItem{
    margin-right: 3rem;
   
}



.link {
    font-size: 1.2rem;
    list-style-type: none;
    text-decoration: none;
    color: white;
    margin: 0 20px 0 20px; 
}

.catLink{
    text-decoration: none;
    color: black;
}




/* FILTER CONTAINER */

.filterContainer button {
margin-right: 2rem;
min-width: 5rem;
padding: 0.5rem 1rem;
border: none;
background: white;
color: red;
border-radius: 1rem;
border: 1px solid red;
font-family: 'Oxygen Mono', monospace;
font-weight: bold;
cursor:pointer;
}


/* MOVIES  */
.bg{
    height: auto;
    width: auto;
    background-color: #111111;
    
}

.homebg{
    height: 100vh;
    width: auto;
    background-color: #111111;
}


.movieWrapper {
    margin: 1% 10% 0 10%;
    padding-bottom: 5% ;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-column-gap: 2rem;
    grid-row-gap: 2rem; 
}



/* MOVIE CARD  */
.movieCard {
 height: 275px;   
border: 3px solid #fff;
border-radius: 20px;
overflow: hidden;
position: relative;

}

img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 15px;
}

.cardInfo{
    height: 100%;
    width:100%;
    position: absolute;
    top: 0;
    right: -100%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background-color: #1f3d4738;
    backdrop-filter: blur(5px);
    border-radius: 15px ;
    transition: 1s;
}

.movieCard:hover .cardInfo{
    right: 0;

}


.cardTitle {
font-size: 1rem;
text-transform: uppercase;
color: white;
margin: 0;
font-weight: bold;
}

.cardDesc{
    font-size: 15px;
    color: white;
    
}


button.active {
    background: red;
    color: white;
}